<link rel="shortcut icon" href="assets/img/icon.jpeg" type="image/jpeg">

<!--=============== REMIXICONS ===============-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<!--=============== SWIPER CSS ===============-->
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

<!--=============== CSS ===============-->
<link rel="stylesheet" href="assets/css/stylelogin.css">
<!DOCTYPE HTML>
<html>
      <body class="align">
        <div class="grid">
          <img src="assets/img/icon2.png" width="350" height="350"/>
          <form action="/" method="post" class="form login">
            <header class="login__header">
              <h3 class="login__title">Edit Profile</h3>
            </header>
      
            <div class="login__body">
      
              <div class="form__field">
                <input type="username" placeholder="change username" required>
              </div>

              <div class="form__field">
                <input type="email" placeholder="change email" required>
              </div>
      
              <div class="form__field">
                <input type="password" placeholder="Password" required>
              </div>
      
            </div>
      
            <footer class="login__footer">
              <input type="submit" value="Submit Edit">

              <p><span class="icon icon--info">?</span><br>
                <a href="afterlogin.html">Back to Home</a></p>
            </footer>
          </form>      
        </div>

         <!--========== SCROLL UP ==========-->
         <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
    </body>
</html>
