<!DOCTYPE html>
<html>
    <head>
        <title>Halaman login</title>
    </head>
    <body>
        <h1>Halaman Login</h1><br>
     
        {% if message %}
            <p> {{message | safe}} </p>
        {% endif %}
        <form action="/submit" method="post">
            <input type="text" name="id" placeholder="nama">
            <input type="password" name="pass" placeholder="pass">
            <button type="submit">Submit</button>
        </form>

        {% for user in datauser %}
        <li>{{user.email}} - {{user.password}}</li>
        {% endfor %}
        <br>
    </body>
</html>